---
import "../styles/global.css";
import TerminalLayout from "../layouts/TerminalLayout.astro";
---
<TerminalLayout title="home">
  <h1 class="text-cyan-400">$ whoami</h1>
  <p class="mt-2">security-focused developer</p>
</TerminalLayout>
