---
import TerminalLayout from "../layouts/TerminalLayout.astro";
import "../styles/global.css";
---

<TerminalLayout title="skills">
  <p class="text-cyan-400">$ cat skills.txt</p>
  <p class="mt-2 text-zinc-300">[ design placeholder ]</p>
</TerminalLayout>
