---
import Taskbar from "./Taskbar.astro";
import AppWindow from "./AppWindow.astro";
import TerminalApp from "../apps/TerminalApp.astro";
import LinkedInApp from "../apps/LinkedInApp.astro";
import GithubApp from "../apps/GithubApp.astro";
import ContactApp from "../apps/ContactApp.astro";
---

<div id="desktop" class="fixed inset-0 bg-zinc-900 overflow-hidden font-mono">
  <div id="window-layer" class="absolute inset-0"></div>

  <Taskbar />

  <div id="terminal-template" class="hidden">
    <AppWindow title="Terminal" appId="terminal">
      <TerminalApp />
    </AppWindow>
  </div>
  <div id="linkedin-template" class="hidden">
    <AppWindow title="LinkedIn" appId="linkedin">
      <LinkedInApp />
    </AppWindow>
  </div>
  <!-- <div id="github-template" class="hidden">
    <AppWindow title="GitHub" appId="github">
      <GithubApp />
    </AppWindow>
  </div> -->
<div id="contact-template" class="hidden">
    <AppWindow title="Contact" appId="contact">
      <ContactApp />
    </AppWindow>
  </div>

<script src="../../scripts/windowManager.ts"></script>
