<div
  id="tooltip-terminal"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  Portfolio
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>


<div
  id="tooltip-profile-picture"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  Profile Picture
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<div
  id="tooltip-linkedin"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  LinkedIn
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>

<div
  id="tooltip-github"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  GitHub
  <div class="tooltip-arrow" data-popper-arrow></div>

<div
  id="tooltip-contact"
  role="tooltip"
  class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
>
  Contact
  <div class="tooltip-arrow" data-popper-arrow></div>